<div class="page-header">
    <h1>User Management</h1>
</div>
<br>
<ul class="nav nav-tabs">
<li role="presentation" ng-click="edit.emailPhase();" ng-class="emailTab"> <a href="#">Email</a> </li>

<li role="presentation" ng-click="edit.usernamePhase();"ng-class="usernameTab"> <a href="#">Username</a> </li>
<li role="presentation" ng-click="edit.permissionsPhase();" ng-class="permissionsTab"> <a href="#">Permission</a> </li>
</ul>
<!--Phase one: email-->
<form name='edit.emailForm' ng-show="edit.phase1" ng-submit="edit.updateEmail(newEmail)">
<label>Email:</label>
<input type="text" class="form-control" placeholder="Email" name="email" ng-model="newEmail">
<br>

<button ng-disabled="edit.disabled" class="btn btn-primary" type="submit" name="save">Update</button>

</form>
<!--Phase two: username-->
<form name='edit.usernameForm' ng-show="edit.phase2" ng-submit="edit.updateUsername(newUsername)">

    <label>Username:</label>
<input type="text" class="form-control" placeholder="Username" name="username" ng-model="newUsername">
<br>
<br>

<button ng-disabled="edit.disabled" class="btn btn-primary" type="submit" name="save">Update</button>

</form>

<!--Phase 3: permission-->

<div ng-show="edit.phase3">
<label>Current Permission &nbsp&nbsp</label>{{newPermission}}
<br>
<br>
<br>
<br>
<button ng-disabled="edit.disabledUser" ng-click="edit.updatePermission('user');" type="button" class="btn btn-success">User</button>&nbsp
<button ng-disabled="edit.disabledModerator" type="button" ng-click="edit.updatePermission('moderator');" class="btn btn-info">Moderator</button>&nbsp
<button ng-disabled="edit.disabledAdmin" type="button" ng-click="edit.updatePermission('admin');" class="btn btn-warning">Admin</button>&nbsp
</div>



<div class="row show-hide-message" ng-show="edit.successMsg">
    <div class="alert alert-success" >
    {{edit.successMsg}}
   </div>
</div>

<div class="row show-hide-message" ng-show="edit.errorMsg">
        <div class="alert alert-danger" >
                {{edit.errorMsg}}
       </div>
</div>
